<div class="card">
  <img class="card-img-top" src="<%= photo.url %>" />
  <div class="card-block">
    <div class="card-text">
      <%= photo.caption %>
    </div>
  </div>
  <%= render photo.comments %>
</div>
