// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 600px;

  .card {
    .card-img-top {
      width: 100%;
      height: 600px;
    }
  }
}
